@model MvcLibrary.Models.Entity.tblMovements
@{
    ViewBag.Title = "GiveLoaned";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Ver</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Üye</label>
        @*@Html.DropDownListFor(x => x.tblMembers.MemberId, (List<SelectListItem>)ViewBag.vl1, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.Member, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap</label>
        @*@Html.DropDownListFor(x => x.tblBooks.BookId, (List<SelectListItem>)ViewBag.vl2, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.Book, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Personel</label>
        @*@Html.DropDownListFor(x => x.Worker, (List<SelectListItem>)ViewBag.vl3, new { @class = "form-control" })*@
        @Html.TextBoxFor(x => x.Worker, new { @class = "form-control" })
    </div>
    <br />
    <div style="margin-top:15px">
        <label>Kitap Alış Tarihi</label>
        <input type="text" name="PurchaseDate" class="form-control" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <br />
    <div style="margin-top:15px">
        <label>Kitap İade Tarihi</label>
        <input type="text" name="ReturnDate" class="form-control" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
    </div>
    <br />
    <button class="btn btn-group" style="background-color:#6624b0; color:white">Kitabı Ödünç Ver</button>
</form>

@*IEnumerable<SelectListItem>*@